
{% extends 'base.html' %}
{% load static %}

{% block title%}
buyrentchoices
{% endblock title %}
{% block content %}

    <div class="row choices-header">
        <div class="col-sm-1 btn back-btn choicesback-btn">
        <a href="{% url 'buyrent' %}"><i class="fa fa-arrow-left"></i></a>
        </div>
        <div class="col-sm-7 choices-title">{{product.0.product_category}}</div>
        <div class="options col-sm-4">
        <form class="choices-form" method="POST" action="filterpost">
            {% csrf_token %}
            <!-- <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Filter by:</label> -->
            <select class="custom-select my-1 " name="postchoice" id="postchoice" onchange='this.form.submit()' style=" Border: none">
                <option value="selected"><b>Please select option</b></option>
                <option value="phtl"><b>Price:High to Low</b></option>
                <option value="plth"><b>Price:Low to High</b></option>
                <option value="lo"><b>Distance</b></option>
              </select>
              <input type="hidden" id="category" name="category" value="{{product.0.product_category}}">
              <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
    </div>
    </div>
    <div class="container-fluid">
        <div class="row products-list">
            {% for i in product %}
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xs-6 card product">
                    <div class="photo">
                <img src='/media/{{i.product_image}}' class="card-img-top" alt="...">
                    </div>
                <div class="card-body product-card">
                    <div class="row name-row">
                    <h5 class="card-title col-sm-10 prod-name">{{i.product_name}}</h5>
                    <i class="heart fa fa-heart-o col-sm-2"></i>
                </div>
                    <div class="card-text prod-price ">&#x20b9; {{i.product_price}}</div>
                    <div class="card-text prod-desc">{{i.product_description|slice:"0:30"}}...</div>
                    <div class="card-footer text-center" style="background-color: white; padding: 10px 0 0 0;"> 
                    <a href="{% url 'productDetails' product_id=i.product_id %}" class="btn buyprod-btn">Buy</a>
                    <a href="#" class="btn rentprod-btn">Rent</a>
                    </div> 
                </div>
                <div class="py-5"></div>
                </div>
                {% endfor %}
        </div>
        <!-- <div class="item2">2</div>
        <div class="item3">3</div>   -->
      </div>
<!-- <div class="row">
{% for i in product %}
    <div class="col-xs-3 col-sm-3 col-md-3" style="...">
        <div class="card" style="width: 18rem;" >
        <img src='/media/{{i.product_image}}' class="card-img-top" alt="..." style="height: 10rem;width: 18rem;">
        <div class="card-body">
            <div class="row">
            <h5 class="card-title">{{i.product_name}}</h5>
            <i class="heart fa fa-heart-o ml-auto"></i>
        </div>
            <p class="card-text">{{i.product_description}}</p>
            <p class="card-text"><b>Rs.</b>{{i.product_price}}</p>
            <div class="card-footer text-center" style="background-color: white;"> 
            <a href="{% url 'productDetails' product_id=i.product_id %}" class="btn btn-primary">Buy</a>
            <a href="#" class="btn btn-primary">Rent</a>
            </div> 
        </div>
        </div>
        </div>
    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
             </div>
             <br>
             <div class="row">
            {% endif%}
        
{% endfor %}
</div> -->

<br>
{% endblock content %}