{% extends 'base.html' %}

{% block title%}
home
{% endblock title %}


{% block content %}
<div class="container mt-5">
    <div class="text-center">
    <!-- <div class="form-group text-center">
        <button class="btn btn-primary" onclick="getLocation()">Get Location</button>
           </div>
           <p id="demo"></p> -->
           <div class="center">
            <button class="btn sell-btn"><i class="fa fa-plus"></i><a href="{% url 'addpost' %}">Sell</a></button>
            <button  class="btn buy-btn"><i class="fa fa-shopping-cart"></i><a href="{% url 'buyrent' %}">Buy/Rent</a></button>
           </div>
    </div>

</div>
{% endblock content %}