{% extends 'base.html' %}

{% block title%}
Productdetails
{% endblock title %}


{% block content %}
<div class="container">
    <div class="row" style="width: 100%; margin: 10vh 0">
        <img class=" col-sm-6" src="../../media/product_images/car1.jpg" alt="Card image cap">
        <div class="card col-sm-6" style="padding: 2vh; margin: 1vh 0 0 0">
          <!-- <h5 class="card-title">Product Name</h5> -->
          <p class="card-text">XYZABC</p>
          <!-- <h5 class="card-title">Product Price</h5> -->
          <p class="card-text"><b>Rs.</b>9999999</p>
          <b class="card-title">Description</b>
          <p class="card-text">Product Description</p>
          <b class="card-title">Category</b>
          <p class="card-text">Product Category</p>
          <b class="card-title">Location</b>
          <p class="card-text">Product Location</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
{% endblock content %}