{% extends 'base.html' %}

{% block title%}
Productdetails
{% endblock title %}


{% block content %}
<div class="container">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Product Name</h5>
          <p class="card-text">XYZABC</p>
          <h5 class="card-title">Product Price</h5>
          <p class="card-text"><b>Rs.</b>9999999</p>
          <h5 class="card-title">Product Description</h5>
          <p class="card-text">Product Description</p>
          <h5 class="card-title">Product Category</h5>
          <p class="card-text">Product Category</p>
          <h5 class="card-title">Product Location</h5>
          <p class="card-text">Product Location</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
{% endblock content %}