{% extends 'base.html' %}

{% block title%}
userpost
{% endblock title %}
{% block content %}
<div class="container">
<h1>Your Post</h1>
<br>
<div class="row">
  <div class="col-sm-1">
  </div>
<div class="col-sm-3">
    <h4>Product Image</h4>
  </div>
  <div class="col-sm-2">
    <h4>Product Name</h4>
  </div>
  <div class="col-sm-2">
    <h4>Product Price</h4>
  </div>
  <div class="col-sm-2">
    <h4>Product Category</h4>
  </div>
</div> 
<form action="deletepost/" method="POST" autocomplete="off">
  {% csrf_token %}
  {% if product %}
{% for i in product %}
    <div class="row">
      <div class="col-sm-1">
        <input type="checkbox" name="checkbox" id="option{{i.product_id}}" value="{{i.product_id}}">
      </div>
    <div class="col-sm-3">
        <img src="/media/{{i.product_image}}" class="rounded" alt="Image not found" style="height: 5rem;width: 5rem;">
      </div>
      <div class="col-sm-2">
        {{i.product_name}}
      </div>
      <div class="col-sm-2">
        <b>Rs. </b>{{i.product_price}}
      </div>
      <div class="col-sm-2">
        {{i.product_category}}
      </div>
      <div>
        <a class="btn btn-primary" href="{% url 'productDetails' %}">View Post</a>
      </div>
    </div> 
{% endfor %}
<br>
<div class="form-group text-center">
  <button type="submit" class="btn" style="background-color:darkred;">Delete Post</button>
    </div>
    {% endif %}
</form>
</div>
{% endblock content %}