{% extends 'base.html' %}
{% load static %}


{% block title%}
userpost
{% endblock title %}
{% block content %}
<div class="container">
<h1 class="text-center post-title">My Products</h1>
<div class="container-fluid post-table">
  <table class="table">
    <thead>
      <tr class="d-flex">
    <th class="col-2 text-center"></th>
<th class="col-2 text-center">Image</th>
  <th class="col-2 text-center">Name</th>
  <th class="col-2 text-center">Price</th>
  <th class="col-2 text-center">Category</th>
  <th class="col-2 text-center"></th>
  </tr>
  </thead>
<form action="deletepostmutiple/" method="POST" autocomplete="off">
  {% csrf_token %}
  {% if product %}
{% for i in product %}
<tbody>
    <tr class="d-flex trow">
      <td class="col-2 text-center text-td">
        <input type="checkbox" name="checkbox" id="option{{i.product_id}}" value="{{i.product_id}}">
      </td>
    <td class="col-2 text-center">
        <img src="/media/{{i.product_image}}" class="rounded" alt="Image not found" style="height: 5rem;width: 5rem;">
    </td>
      <td class="col-2 text-center text-td">
        {{i.product_name}}
      </td>
      <td class="col-2 text-center text-td">
        &#x20b9;{{i.product_price}}
      </td>
      <td class="col-2 text-center text-td">
        {{i.product_category}}
      </td>
      <td class="col-2 text-center">
        <a class="btn view-btn" href="{% url 'productDetails' product_id=i.product_id %}">View Post</a>
      </td>
      </tr>
      </tbody>
{% endfor %}
<br>
<tr>
<td class="form-group text-center col-12">
  <button type="submit" class="btn dlt-btn">Delete Post</button>
</td>
    </tr>
    {% endif %}
</form>
</table>
</div>
</div>

{% endblock content %}