{% extends 'base.html' %}

{% block title%}
userpost
{% endblock title %}
{% block content %}
<div class="container">
<h1>Your Post</h1>
<br>
<div class="container-fluid">
  <table class="table">
    <thead>
      <tr class="d-flex">
    <th class="col-1"></th>
<th class="col-3">
    <b>Product Image</b>
</th>
  <th class="col-2">
    <b>Product Name</b>
  </th>
  <th class="col-2">
    <b>Product Price</b>
  </th>
  <th class="col-2">
    <b>Product Category</b>
  </th>
  <th class="col-2"></th>
  </tr>
  </thead>
<form action="deletepost/" method="POST" autocomplete="off">
  {% csrf_token %}
  {% if product %}
{% for i in product %}
<tbody>
    <tr class="d-flex">
      <td class="col-1">
        <input type="checkbox" name="checkbox" id="option{{i.product_id}}" value="{{i.product_id}}">
      </td>
    <td class="col-3">
        <img src="/media/{{i.product_image}}" class="rounded" alt="Image not found" style="height: 5rem;width: 5rem;">
    </td>
      <td class="col-2">
        {{i.product_name}}
      </td>
      <td class="col-2">
        <b>Rs. </b>{{i.product_price}}
      </td>
      <td class="col-2">
        {{i.product_category}}
      </td>
      <td class="col-2">
        <a class="btn btn-primary" href="{% url 'productDetails' %}">View Post</a>
      </td>
      </tr>
      </tbody>
{% endfor %}
<br>
<tr>
<td class="form-group text-center col-12">
  <button type="submit" class="btn" style="background-color:darkred;">Delete Post</button>
</td>
    </tr>
    {% endif %}
</form>
</table>
</div>
</div>

{% endblock content %}